.newsitem {
  background-color: #171717;
  padding: 20px;
  width: 340px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 300px;
    height: 200px;
    object-fit: fill;
    margin-bottom: 20px;
  }
  &-content {
    &__subtitle {
      color: #1976d2;
      font-size: 12px;
      margin-bottom: 5px;
    }
    &__title {
      color: white;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &__description {
      height: 100px;
      color: whitesmoke;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      line-height: 20px;
    }
  }
}
