.statwidget {
  padding: 3%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  .title {
    font-size: 1.8vw;
    color: white;
    margin-bottom: 2vw;
    font-weight: medium;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    .stats-block {
      width: 30%;
      &:not(:last-child) {
        border-right: 2px solid RGB(128, 186, 181);
        margin-right: 10%;
      }
      &__title {
        color: lightgray;
        font-size: 0.8vw;
        margin-bottom: 30px;
      }
      &__count {
        font-size: 1.5vw;
        color: white;
        font-weight: 700;
      }
    }
  }
}
