.statwidget {
  padding: 5%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  .title {
    font-size: 35px;
    color: white;
    margin-bottom: 70px;
    font-weight: bold;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    .stats-block {
      width: 40%;
      margin-right: 10%;
      &__title {
        color: whitesmoke;
        font-size: 115%;
      }
      &__count {
        font-size: 110%;
        color: white;
        font-weight: bold;
      }
    }
  }
}
