.support {
  &-block {
    padding: 20px;
    width: 90%;
    height: 90%;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    &-chat{
        flex-basis: 70%;
        &-window{
            overflow-y:scroll;
            width: 100%;
            height: 450px;
            background-color: grey;
            margin-bottom: 20px;
        }
    }
  }
}
