.withdraw-block {
  width: 20%;
  display: flex;
  flex-direction: column;
  button {
    margin-top: 10px;
    width: 50%;
  }
}

.MuiInputLabel-root {
  color: white !important;
}
.MuiInput-input {
  color: white !important;
}

.MuiInput-underline {
  &::before {
    border-bottom: 1px solid white !important;
  }
}
