.news-content {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .news-items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 70%;
  }
  .primary_news{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}
