.accordion__item{
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  max-width: 1290px;
  padding: 15px;
  margin-bottom: 20px;
  .accordion__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
      font-weight: 400;
      font-size: 22px;
      line-height: 27px;
      color: #3C3B50;
    }
  }
  .accordion__content{
    display: none;
    opacity: 0;
    max-height: 200px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 150%;
    color: #5B5889;
    animation: fadeOutFromBlock 0.5s ease-in-out;

  }
  .accordion__content__active{
    display: block;
    transform: translateY(0%);
    opacity: 100;
    max-height: 200px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 150%;
    color: #5B5889;
    animation: fadeInFromNone 0.4s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInFromNone {
    0% {
      max-height: 0;
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0.1;
      transform: translateY(-70%);
    }
    50% {
      display: block;
      opacity: 0.5;
    }

    100% {
      display: block;
      opacity: 1;
      transform: translateY(0%);
      max-height: 100%;
    }
  }

  @keyframes fadeOutFromBlock {
    0% {
      display: block;
      opacity: 1;
      transform: translateY(0%);

    }

    1% {
      display: block;
      opacity: 0.5;

    }
    50% {
      display: block;
      opacity: 0.1;
      transform: translateY(-70%);
    }

    100% {
      display: none;
      opacity: 0;
    }
  }
}