.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  &_text {
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 1000px;
  }
}
